*{
    margin: 0%;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: 'karla', sans-serif;
}
img{
    width: 100%;
    height: 100%;
}
section.main_frame{
    display: flex;
    height: 100vh;
}
header{
    background: rgb(22, 97, 195);
    color: white;
    width: 15%;
    font-weight: bold;
}
div.logo{
    font-size: 180%;
    font-weight: 700;
    margin: 10% 0% 0%;
    text-align: center;
}
div.nav1{
    margin: 40% 0% 0% 0%;
}
div.nav1 i.fa{
    width: 10%;
}
div.nav1 div{
    padding: 10% 0% 10% 22%;
}
div.nav1 div.current{
    background: rgb(31, 98, 185);
}
div.nav2{
    position: absolute;
    width: 201px;
    bottom: 0%;
    font-size: 90%;
}
div.nav2 div{
    padding: 10% 0% 10% 22%;
}
div.nav2 i.fa{
    width: 15%;
}
div.smallscreennav{
    display: none;
}
i.fa-bars{
    display: none;
}

@media screen and ( max-width: 1024px ){
    section.main_frame{
        display: block;
        height: 100vh;
    }
    header{
        position: fixed;
        top: 0%;
        z-index: 1000;
        width: 100%;
        height: 70px;    
        display: flex;
        padding: 0% 0%;
    }
    div.logo{
        margin: 0% 0% 0% 3%;
        padding: 20px 0% 0% 0%;
        font-size: 200%;
        text-align: center;
    }
    div.nav1{
        height: 100%;
        margin: 0% 0% 0% 3%;
        width: 35%;
        justify-content: space-evenly;
    }
    div.nav1 i.fa{
        width: 20%;
        text-align: center;
    }
    div.nav1 div{
        text-align: center;
        padding: 30px 0% 19px 0%;
        width: 31%;
        display: inline-block;
    }
    div.nav1 div.current{
        border: none;
        border-bottom: 3px solid white;
        background: none;
    }
    div.nav2{
        position: absolute;
        width: 15%;
        bottom: unset;
        right: 0%;
        padding: 18px 0% 0% 0%;
    }
}

@media screen and ( max-width: 768px ){
    header{
        
    }
    div.nav1{
        width: 40%;
    }
    div.nav2{
        position: absolute;
        width: 25%;
        bottom: unset;
        right: 3%;
    }
}

@media screen and ( max-width: 690px ){
    header{
        padding: 0% 2%;
    }
    div.logo{
        font-size: 180%;
        margin: 3px 0px 0px 0px;
    }
    div.nav1{
        font-size: 90%;
    }
    div.nav1 div{
        text-align: center;
        padding: 32px 0% 19px 0%;
        width: 31%;
        display: inline-block;
    }
    div.nav2{
        font-size: 85%;
        padding: 19px 0% 0% 0%;
        right: 3%;
    }
}

@media screen and ( max-width: 570px ){
    header{
        margin: 0% 0% 0% 0%;
        height: 60px;
        padding: 0% 0% 0% 0%;
        z-index: 500;
    }
    div.logo{
        font-size: 150%;
        font-weight: 700;
        text-align: left;
        margin: -1.2% 0% 0% 3%;
        display: inline-block;
    }
    header i.fa-bars{
        display: block;
        position: absolute;
        right: 3%;
        top: 30%;
        font-size: 150%;
    }
    div.layer{
        position: fixed;
        top: 0%;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.644);
        z-index: 1500;
        display: none;
    }
    div.smallscreennav{
        border: 1px solid rgb(22, 97, 195);
        background: rgb(22, 97, 195);
        position: fixed;
        width: 60%;
        height: 100vh;
        top: 0%;
        left: 0%;
        z-index: 2000;
        color: white;
        font-weight: bold;
        display: none;
    }   
    div.smallscreennav div.user{
        border-bottom: 1px solid rgb(22, 97, 195);
        text-align: center;
        padding: 5% 0% 5% 0%;
        margin:  0% 0% 30% 0%;
    }
    div.smallscreennav div.user i.fa{
        font-size: 700%;
        margin: 5% 0% 0%;
    }
    div.smallscreennav div.user div.username{
        display: block;
        font-size: 200%;
        text-transform: capitalize;
        margin: 5% 0% 0%;
    }
    div.nav div{
        font-weight: bold;
        font-size: 120%;
        text-transform: uppercase;
        padding: 10% 10%;
    }
    div.nav div i.fa{
        width: 25%;
    }
    div.nav div.current{
        background: rgb(31, 98, 185);
    }
    div.nav1{
        display: none;
        margin: 0% 0% 0% 0%;
        height: unset;
        width: 70%;
    }
    div.nav1 div{
        padding: 25px 0% 9px 0%;
        font-size: 100%;
        display: inline-block;
    }
    div.nav2{
        display: none;
        text-align: right;
        position: unset;
        width: 25%;
        font-size: 85%;
        padding: 0px 0% 0% 0%;
    }
}

@media screen and ( max-width: 320px ){
    div.nav2{
        width: 28%;
        text-align: center;
    }
}